{% extends 'lms/base.html' %}
{% load static %}






{% block body %}


<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" >
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleControls" data-slide-to="1"></li>
			<li data-target="#carouselExampleControls" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div id="home" class="first-section" style="background-image:url('https://i.ibb.co/XbkLh1f/slider-03.jpg');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-right">
									<div class="big-tagline">
										<h2><strong>ECE </strong>online</h2>
										<p class="lead">NOTICE!! Click on the browse course list button to enroll for course, if you have not, final year students are expected to enroll for all year five courses no exception!</p>
											<a href="#" class="hover-btn-new"><span>Contact Us</span></a>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="#" class="hover-btn-new"><span>Read More</span></a>
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<div class="carousel-item">
				<div id="home" class="first-section" style="background-image:url('https://i.ibb.co/Jnc3p2j/slider-01.jpg');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-left">
									<div class="big-tagline">
										<h2 data-animation="animated zoomInRight">WE ARE <strong>LASU</strong></h2>
										<p class="lead" data-animation="animated fadeInLeft">>WE ARE LASU WE ARE PROUD!! </p>
											<a href="#" class="hover-btn-new"><span>Contact Us</span></a>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="#" class="hover-btn-new"><span>Read More</span></a>
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<div class="carousel-item">
				<div id="home" class="first-section" style="background-image:url('https://i.ibb.co/N1WMM4Y/slider-02.jpg');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-center">
									<div class="big-tagline">
										<h2 data-animation="animated zoomInRight"><strong>WE ARE</strong> PROUD</h2>
										<p class="lead" data-animation="animated fadeInLeft">Registration is on for 200-500 level and students are to enroll for courses in other to recieve lectures and get the best out of this semester sign up now if you have not done so or login and enroll for a course.</p>
											<a href="#" class="hover-btn-new"><span>Contact Us</span></a>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="#" class="hover-btn-new"><span>Read More</span></a>
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<!-- Left Control -->
			<a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="fa fa-angle-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<!-- Right Control -->
			<a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="fa fa-angle-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
  </div>
  
  <div id="overviews" class="section wb">
      <div class="container">
          <div class="section-title row text-center">
              <div class="col-md-8 offset-md-2">
                  <h3>About</h3>
                  <p class="lead">This is an initative of the department of electronics and computer engineering for the advancement of every of its stake holders.</p>
              </div>
          </div><!-- end title -->
      
          <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <div class="message-box">
                      <h4>The department of electronic and computer engineering</h4>
                      <h2>Welcome viewer</h2>
                      <p>if you are a student of this department do make sure to register and enroll for courses as exms would be set based on what was though here</p>

                      <p> please stay safe world class students. we are LasU we are Proud </p>

                      <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                  </div><!-- end messagebox -->
              </div><!-- end col -->
      
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <div class="post-media wow fadeIn">
                      <img src="./../static/images copy/about_02.jpg" alt="" class="img-fluid img-rounded">
                  </div><!-- end media -->
              </div><!-- end col -->
    </div>
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <div class="post-media wow fadeIn">
                      <img src="./../static/images copy/about_03.jpg" alt="" class="img-fluid img-rounded">
                  </div><!-- end media -->
              </div><!-- end col -->
      
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                  <div class="message-box">
                      <h2>The standard Lorem Ipsum passage, used since the 1500s</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                      <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum.</p>

                      <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                  </div><!-- end messagebox -->
              </div><!-- end col -->
      
          </div><!-- end row -->
      </div><!-- end container -->
  </div><!-- end section -->


  <div class="section cl">
      <div class="container">
        <div class="row text-left stat-wrap">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-study"></i></span>
            <p class="stat_count">423</p>
            <h3>Students</h3>
          </div><!-- end col -->
  
          <div class="col-md-4 col-sm-4 col-xs-12">
            <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-online"></i></span>
            <p class="stat_count">140</p>
            <h3>Courses</h3>
          </div><!-- end col -->
  
          <div class="col-md-4 col-sm-4 col-xs-12">
            <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-years"></i></span>
            <p class="stat_count">6</p>
            <h3>Years Completed</h3>
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end section -->

   <div id="testimonials" class="parallax section db parallax-off" style="background-image:url('images/parallax_04.jpg');">
        <div class="container">
            <div class="section-title text-center">
                <h3>Testimonials</h3>
                <p>Members of Our academic community say... </p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="https://i.ibb.co/vXjg5PC/about-02.jpg
" alt="" class="img-fluid">
                                <h4>Adebayo salami</h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> I love my department for this!!</h3>
                                <p class="lead">I have been able to cntinue my studies deapite the lockdown in the comfort of my home. i have always learned better this way. I love this initiative by my department to persnalize learning beyond what we know today kudos.</p>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="https://i.ibb.co/S3Yqqgk/about-03.jpg
" alt="" class="img-fluid">
                                <h4>chinedu Philips </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                <p class="lead">i love every bit of what this our lovely departmet has to offer off line they out did themselves by bringing that same spirit online i am glad i am a member of this department.</p>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="images/testi_03.png" alt="" class="img-fluid ">
                                <h4>Venanda Amake </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                <p class="lead">The response of the support is unexpectedly fast and indeed supportive . </p>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                        


                            <!-- end testi-meta -->
                        </div><!-- end testimonial -->
                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->


  

{% endblock %}

