
body{
	background-image: url(https://i.ibb.co/vJVjdkg/20200120-121952-1.jpg) ;
	background-color: #FDFFFC;
	text-align: center;
	color: black;

	font-family: arial, Helvetica;
	background-repeat: no-repeat;
	background-size: cover;
}





































  


